<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>All Assortments</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="css/app.css" /> -->
	<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body ng-app="myApp">

	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	  <!-- Brand -->
	  <a class="navbar-brand" href="#">FlashCode</a>
	
	  <!-- Toggler/collapsibe Button -->
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	
	  <!-- Navbar links -->
	  <div class="collapse navbar-collapse" id="collapsibleNavbar">
	    <ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" th:href="@{/assortments}">Assortments</a>
	      </li>
	    </ul>
	  </div>
	</nav>

	<!-- div to put script and code in any order -->
	<div class="content">
	
		<!-- PART ONE: angularjs -->
		<script>
	        var app = angular.module('myApp', []);
	        app.controller('assortmentsCtrl', function($scope, $http, $q) {
	        	
	            $scope.assortments = [];
	            $scope.errorMessage = '';
	            
	            $scope.newAssortment = {
                    title: ''
                };
	            	
	            $scope.getAssortments = function() {
	                $http.get('/api/v1/assortments')
	                    .then(function(response) {
	                        $scope.assortments = response.data;
	                        $scope.errorMessage = '';
	                    }, function(error) {
	                        $scope.errorMessage = 'Error fetching assortments.';
	                    });
	            };
	            
	            $scope.addAssortment = function() {
                    $http.post('/api/v1/assortments', $scope.newAssortment)
                        .then(function(response) {
                            $scope.assortments.push(response.data);
                            $scope.newAssortment.title = '';
                            $scope.errorMessage = '';
                            $('#addAssortmentModal').modal('hide'); // Hide the modal on success
                        }, function(error) {
                            $scope.errorMessage = 'Error adding assortment.';
                        });
                };
	            
	            
	            $scope.getAssortments();
	        });
	    </script>
	
		<!-- PART TWO: html -->
	    <div class="container mt-5" ng-controller="assortmentsCtrl">
	    
	    	<!-- Header -->
	        <h1 class="mb-4">Assortment List</h1>
	        
	        <button class="btn btn-primary mb-4" data-toggle="modal" data-target="#addAssortmentModal">Add New Assortment</button>
	        
	        <!-- New Assortment Form -->
            <!-- <form ng-submit="addAssortment()" class="mb-4">
                <div class="form-group">
                    <label for="newAssortmentTitle">New Assortment Title:</label>
                    <input type="text" class="form-control" id="newAssortmentTitle" ng-model="newAssortment.title" required>
                </div>
                <button type="submit" class="btn btn-primary">Add Assortment</button>
            </form> -->
	        
	        <ul id="assortmentList" class="list-group">
	            <li class="list-group-item" ng-repeat="assortment in assortments">
	            	{{ assortment.title }}
	            	<a href="/assortments/{{ assortment.id }}" class="btn btn-secondary btn-sm ml-2">View Cards</a>
	            </li>
	        </ul>
	    </div>
	    
	    <div class="modal fade" id="addAssortmentModal" tabindex="-1" role="dialog" aria-labelledby="addAssortmentModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addAssortmentModalLabel">Add New Assortment</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form ng-submit="addAssortment()">
                            <div class="form-group">
                                <label for="newAssortmentTitle">New Assortment Title:</label>
                                <input type="text" class="form-control" id="newAssortmentTitle" ng-model="newAssortment.title" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Add Assortment</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

</body>
</html>