<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" 
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
	crossorigin="anonymous">
</head>
<body>

	<div class = "container">
		<div class = "row">
			<h1>List Cards</h1>
		</div>
		
		<table class = "table table-striped">
			<thead class = "table-dark">
				<tr>
					<th>Question</th>
					<th>Approach</th>
					<th>Code</th>
					<th>Time Complexity</th>
					<th>Space Complexity</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "card: ${cards}">
					<td th:text = "${card.question}"></td>
					<td th:text = "${card.approach}"></td>
					<td th:text = "${card.code}"></td>
					<td th:text = "${card.timeComplexity}"></td>
					<td th:text = "${card.spaceComplexity}"></td>
				</tr>
			</tbody>
		</table>
		
	</div>

</body>
</html>