<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Assortment Cards</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- 	<link rel="stylesheet" href="css/app.css" /> -->
	<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
</head>
<body ng-app="myApp">

	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	  <!-- Brand -->
	  <a class="navbar-brand" href="#">FlashCode</a>
	
	  <!-- Toggler/collapsibe Button -->
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	
	  <!-- Navbar links -->
	  <div class="collapse navbar-collapse" id="collapsibleNavbar">
	    <ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" th:href="@{/assortments}">Assortments</a>
	      </li>
	    </ul>
	  </div>
	</nav>


	<!-- div to put script and code in any order -->
	<div class="content">

		<script>
	        var app = angular.module('myApp', []);
	        app.controller('assortmentCardsCtrl', function($scope, $http, $q) {
	            
	        	$scope.reset = function() {
	        		$scope.newCard = {
                        question: '',
                        approach: '',
                        code: '',
                        timeComplexity: '',
                        spaceComplexity: '',
                    };
	        	}
	        	
	        	/* var assortmentId = [[${assortment.id}]];
	        	console.log('/api/v1/assortments/' + assortmentId);	  */   
	        	
	        	$scope.assortment = { 
        			id: [[${assortment.id}]], 
        			cards: [] 
	        	};
	        	$scope.assortment.cards = /*[[${assortment.cards}]]*/[];
	        	
	        	$scope.addCard = function() {
	        		$scope.success = false;
					$scope.failure = false;
	                $http.post('/api/v1/assortments/' + $scope.assortment.id, $scope.newCard)
	                    .then(function(response) {
	                    	console.log('a');
	                    	console.log(response)
	                    	$scope.assortment.cards.push(response.data);
	                        $scope.reset();
	                    }, function(rejection) {
	                    	console.log('b');
	                        console.error('Error adding card:', rejection);
	                    });
            	};
            	
            	$scope.deleteCard = function(cardId) {
            		console.log('cardId:');
            		console.log(cardId);
            	        
            		$http.delete('/api/v1/assortments/' + $scope.assortment.id + '/' + cardId)
	                    .then(function(response) {
	                        // Remove the deleted card from the UI
	                        var index = $scope.assortment.cards.findIndex(function(card) {
	                            return card.id === parseInt(cardId);
	                        });
	                        if (index !== -1) {
	                            $scope.assortment.cards.splice(index, 1);
	                        }
	                    }, function(error) {
	                        console.error('Error deleting card:', error);
	                    });
            	};
            	
	        });
	    </script>

		<div class="container mt-5" ng-controller="assortmentCardsCtrl">
		
			<!-- NOTE: The file knows what assortment is already since it is passed from
			Mapping Controller to this view using the Model object -->
		    <h1>Cards for Assortment: <span th:text="${assortment.title}"></span></h1>
		    
	        <form ng-submit="addCard()">
	            <div class="form-group">
	                <label for="question">Question:</label>
	                <input type="text" class="form-control" id="question" ng-model="newCard.question" required>
	            </div>
	            <div class="form-group">
	                <label for="approach">Approach:</label>
	                <textarea class="form-control" id="approach" ng-model="newCard.approach" required></textarea>
	            </div>
	            <div class="form-group">
	                <label for="code">Code:</label>
	                <textarea class="form-control" id="code" ng-model="newCard.code" required></textarea>
	            </div>
	            <div class="form-group">
	                <label for="timeComplexity">Time Complexity:</label>
	                <input type="text" class="form-control" id="timeComplexity" ng-model="newCard.timeComplexity" required>
	            </div>
	            <div class="form-group">
	                <label for="spaceComplexity">Space Complexity:</label>
	                <input type="text" class="form-control" id="spaceComplexity" ng-model="newCard.spaceComplexity" required>
	            </div>
	            <button type="submit" class="btn btn-primary">Add Card</button>
	        </form>
	        
		    <ul>
		    
		    	<!-- Using Thymeleaf to show each card -->
		        <li th:each="card : ${assortment.cards}">
		            <h2 th:text="${card.question}"></h2>
		            <p>Approach: <span th:text="${card.approach}"></span></p>
		            <p>Code: <span th:text="${card.code}"></span></p>
		            <p>Time Complexity: <span th:text="${card.timeComplexity}"></span></p>
		            <p>Space Complexity: <span th:text="${card.spaceComplexity}"></span></p>
		            <button class="btn btn-danger" th:attr="ng-click='deleteCard(' + ${card.id} + ')'">Delete</button>
		        </li>
		    </ul>
	    </div>
    </div>
</body>
</html>