<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>All Assortments</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="css/app.css" /> -->
	<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body ng-app="myApp">

	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	    <a class="navbar-brand" th:href="@{/assortments}">FlashCode</a>
	    <div class="collapse navbar-collapse" id="collapsibleNavbar">
	        <ul class="navbar-nav ml-auto">
	            <li class="nav-item dropdown d-flex align-items-center">
	                <a class="nav-link" href="/settings" role="button" aria-haspopup="true" aria-expanded="false">
	                    <!-- Username -->
	                    <span th:text="${username}">Username</span>
	                </a>
	                
	                <!-- Logout -->
	                <form th:action="@{/logout}" method="post" class="form-inline ml-2">
	                    <input class="btn btn-danger" type="submit" value="Logout" />
	                </form>
	            </li>
	        </ul>
	    </div>
	</nav>

	<!-- div to put script and code in any order -->
	<div class="content">
	
		<!-- PART TWO: html -->
	    <div class="container mt-5" ng-controller="settingsCtrl">
	    
	    	<!-- 2.1 Header -->
	        <h1 class="mb-4">Account Settings</h1>
	        
	        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteAccountModal">Delete Account</button>
	        
	        
	        <!-- Modal 1: Deleting your account -->			
			<div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
			    <div class="modal-dialog" role="document">
			        <div class="modal-content">
			            <div class="modal-header">
			                <h5 class="modal-title" id="deleteAccountModalLabel">Delete Account</h5>
			                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                    <span aria-hidden="true">&times;</span>
			                </button>
			            </div>
			            <div class="modal-body">
			                Are you sure you want to delete your account? This action cannot be undone.
			            </div>
			            <div class="modal-footer">
			                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			                <button type="button" class="btn btn-danger" ng-click="deleteAccount()">Delete Account</button>
			            </div>
			        </div>
			    </div>
			</div>
	    </div>
	    
	    <!-- PART ONE: angularjs -->
		<script>
	        var app = angular.module('myApp', []);
	        app.controller('settingsCtrl', function($scope, $http, $q) {
	        	
	        	$scope.user = null;
	            $scope.userId = null;
	            
	         // GET user id
               	$scope.getUser = function() {
               		console.log('ahahaha')
               		
	                $http.get('/api/v1/users/current')
	                    .then(function(response) {
	                    	console.log('a');
	                    	console.log(response);
	                    	
	                        $scope.user = response.data;
	                        
	                        $scope.errorMessage = '';
	                    }, function(error) {
	                    	console.log('b');
	                    	
	                        $scope.errorMessage = 'Error fetching assortments.';
	                    });
	            };
               	
               	
               	
               	// Delete account
               	$scope.openDeleteAccountModal = function(id) {
               		console.log('in');
               		$scope.userId = id;
		            $('#deleteAccountModal').modal('show');
		        };
				
				$scope.deleteAccount = function() {
				    $http.get('/api/v1/users/current')
				        .then(function(response) {
				            var currentUser = response.data;
				            $http.delete('/api/v1/users/' + currentUser.id)
				                .then(function(response) {
				                    // Account deleted successfully, redirect to login page
				                    window.location.href = '/login';
				                }, function(error) {
				                    $scope.errorMessage = 'Error deleting account.';
				                });
				        }, function(error) {
				            $scope.errorMessage = 'Error retrieving current user.';
				        });
				};
				
				$scope.getUser();
	            
	        });
	    </script>
    </div>

</body>
</html>